
<div style="height: 100vh">
  <div class="d-flex justify-content-center align-items-center h-100">
  <div class="container">
  <!-- Grid row -->
  <div class="row">
  <!-- Grid column -->
  <div class="col-md-12" >
      <div class="text-center">
        
          <img src="assets/img/Logo.svg" class="img-fluid animated bounceIn" style="max-width: 50%;" alt="AfloQuiz logo">
          <br>
          <div class="mb-5 mt-5" >
          Bienvenu sur notre merveilleux Quiz!<br>
        </div>

      <button type="button" class="btn btn-secondary waves-light animated bounce infinite"   mdbWavesEffect>Rejoindre</button>
    </div>
  </div>
  <!-- Grid column -->
  </div>
  <!-- Grid row -->
  </div>
  </div>
  </div>
=